<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <h1 id="board-title"></h1>
      <div>
        <h3>Submit a new thread:</h3>
        <form id="newThread" method="post" action="/api/">
          <div class="form-row mb-3">
            <textarea class="form-control col-12" rows="8" type="text" placeholder="Thread text..." name="text" required></textarea>
          </div>
          <div class="form-row mb-3">
            <label>Password to Delete Thread: </label>
            <input class="form-control col-12 col-md-4 ml-0 ml-md-1" type="password" placeholder="password" name="delete_password" required>
          </div>
          <div class="form-row">
            <button class="btn btn-success" type="submit">Submit</button>
          </div>
          
        </form>
      </div>
      <div id="board-display">
        <h2 class="mt-5">Threads</h2>
        <hr class="mt-0"/>
      </div>
    </div>

    <script>
      $(function() {
        var currentBoard = window.location.pathname.slice(3,-1);
        $('#board-title').text('Welcome to '+window.location.pathname)
        
        function displayThreads(threads){
          threads.forEach(x => {
            let thread = ''
            thread += '<div class="thread"><div class="main">';
            thread += ('<form id="reportThread"><div class="form-row"><h3 class="col-10">' + x.text + '</h3><input type="hidden" name="report_id" value="'+x._id+'"><button type="submit" class="btn btn-warning col-12 col-sm-2">Report</button></div></form>')
            thread += ('<p class="id">id: ' + x._id + ' (' + x.created_on.replace(/T.+Z/, '') +')</p>');
            thread += ('<form id="delete-thread"><div class="form-row mb-5"><input type="hidden" value="' + x._id + '" name="thread_id" required><input class="form-control col-12 col-md-3" type="text" placeholder="delete thread" name="delete_password" required><button type="submit" class="btn btn-danger">Delete</button></div></form>')
            thread += ('</div><div class="replies">')
            var hiddenCount = x.reply_count - 3;
            if (hiddenCount < 1) { hiddenCount = 0 }
            thread += ('<h5>'+x.reply_count+' replies total ('+hiddenCount+' hidden)- <a href="'+window.location.pathname+x._id+'">See the full thread here</a>.</h5>')
            x.replies.forEach(reply => {
              thread += ('<div class="reply">')
              thread += ('<p class="id">id: '+reply._id+' ('+reply.created_on+')</p>');
              thread += ('<form id="reportReply"><input type="hidden" name="thread_id" value="'+ele._id+'"><input type="hidden" name="reply_id" value="'+reply._id+'"><input type="submit" value="Report"></form>');
              thread += ('<form id="deleteReply"><input type="hidden" value="'+ele._id+'" name="thread_id" required=""><input type="hidden" value="'+reply._id+'" name="reply_id" required=""><input type="text" placeholder="password" name="delete_password" required=""><input type="submit" value="Delete"></form>');
              thread += ('<p>'+reply.text+'</p>');
              thread += ('</div>')
            })
            thread += ('<div class="newReply">')
            thread += ('<form action="/api/replies/'+currentBoard+'/" method="post" id="newReply">');
            thread += ('<input type="hidden" name="thread_id" value="'+x._id+'">');
            thread += ('<div class="form-row mb-3"><textarea class="form-control col-12" rows="5" type="text" placeholder="Quick reply..." name="text" required=""></textarea></div>');
            thread += ('<div class="form-row mb-3"><label>Password To Delete Reply: </label><input class="form-control" type="password" placeholder="password to delete" name="delete_password" required></div>');
            thread += ('<div class="form-row mb-5"><button class="btn btn-success" type="submit">Submit</button>')
            thread += ('</div></form></div></div></div>')
            $('#board-display').append(thread)
          })
          
        }
        
        $.ajax({
          url: "/api/threads/"+currentBoard,
          success: function(data)
          {
            console.log(data)
            displayThreads(data)
          }
        });
        
        $('#newThread').submit(function(){
          $(this).attr('action', "/api/threads/" + currentBoard);
        });
        
        $('#boardDisplay').on('submit','#reportThread', function(e) {
          var url = "/api/threads/"+currentBoard;
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        $('#boardDisplay').on('submit','#reportReply', function(e) {
          var url = "/api/replies/"+currentBoard;
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        $('#board-display').on('submit','#delete-thread', function(e) {
          var url = "/api/threads/"+currentBoard;
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });        
        $('#boardDisplay').on('submit','#deleteReply', function(e) {
          var url = "/api/replies/"+currentBoard;
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });              
      });
   </script>
  </body>
</html>
