<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="Anonymous messenging board made with node.js and mongo db">
    <meta name="keywords" content="Anonymous, messenging, board, forums, post, chat">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <h1 id="board-title" class="text-center"></h1>
      <p class="text-center"><a href="https://foremost-catboat.glitch.me/">Return Home</a></p>
      <div>
        <p id="thread-error" class="text-center text-danger"></p>
        <h3>Submit a new thread:</h3>
        <form id="new-thread" method="post" action="/api/">
          <div class="form-row mb-3">
            <textarea class="form-control col-12" rows="8" type="text" placeholder="Thread text..." name="text" required></textarea>
          </div>
          <div class="form-row mb-3">
            <label>Password to Delete Thread: </label>
            <input class="form-control col-12 col-md-4 ml-0 ml-md-1" type="password" placeholder="password" name="delete_password" required>
          </div>
          <div class="form-row">
            <button class="btn btn-success" type="submit">Submit</button>
          </div>
          
        </form>
      </div>
      <div id="board-display">
        <h2 class="mt-5">Threads</h2>
        <hr class="mt-0"/>
      </div>
    </div>

    <script>
      $(function() {
        var currentBoard = window.location.pathname.slice(3,-1);
        if(!/\/$/.test(window.location.pathname)){
          window.location.href = window.location.pathname + '/'
        }
        $('#board-title').text('Welcome to '+window.location.pathname)
        $('#thread-error').text(sessionStorage.getItem('thread-error'))
        sessionStorage.removeItem('thread-error')
        
        function displayThreads(threads){
          threads.forEach(x => {
            let thread = ''
            thread += '<div class="thread px-2 px-md-5"><div class="main">';
            thread += ('<form id="report-thread"><div class="form-row"><h2 class="col-12 col-sm-10 col-md-11 thread-title">' + x.text + '</h2><input type="hidden" name="report_id" value="'+x._id+'"><button type="submit" class="btn btn-warning col-12 col-sm-2 col-md-1">Report</button></div></form>')
            // thread += ('<p class="id">id: ' + x._id + ' (' + x.created_on.replace(/T.+Z/, '') +')</p>');
            thread += ('<form id="delete-thread"><div class="form-row mb-5"><input type="hidden" value="' + x._id + '" name="thread_id" required><input class="form-control col-12 col-md-3" type="password" placeholder="delete thread" name="delete_password" required><button type="submit" class="btn btn-danger">Delete</button></div></form>')
            thread += ('</div><div class="replies">')
            var hiddenCount = x.reply_count - 3;
            if (hiddenCount < 1) { hiddenCount = 0 }
            let replyTotal = x.reply_count == 1 ? ' reply total' : ' replies total'
            thread += ('<h5><strong>'+x.reply_count+ replyTotal + '('+hiddenCount+' hidden)- </strong><a href="'+window.location.pathname+x._id+'">See the full thread here</a>.</h5>')
            x.replies.forEach(reply => {
              thread += ('<div class="reply">')
              thread += ('<form class="report-reply"><div class="form-row"><h3 class="col-12 col-sm-10 col-md-11">-'+reply.text+'</h3><button type="submit" class="btn btn-warning col-12 col-sm-2 col-md-1 col-sm-2">Report</button>')
              // thread += ('<p class="id">id: '+reply._id+' ('+reply.created_on.replace(/T.+Z/, '')+')</p>');
              thread += ('<input type="hidden" name="thread_id" value="'+x._id+'"><input type="hidden" name="reply_id" value="'+reply._id+'"></div></form>');
              thread += ('<formclass=="delete-reply" class="mb-3 mb-sm-4"><input type="hidden" value="'+x._id+'" name="thread_id" required=""><input type="hidden" value="'+reply._id+'" name="reply_id" required=""><div class="form-row"><input class="form-control col-12 col-md-4" type="password" placeholder="password" name="delete_password" required=""><button type="submit" class="btn btn-danger">Delete Reply</button></div></form>');
              thread += ('</div>')
            })
            thread += ('<div class="newReply mt-5">')
            thread += ('<form method="post" id="new-reply">');
            thread += ('<h3>Add New Reply</h3><hr class="mt-0"/>')
            thread += ('<input type="hidden" name="thread_id" value="'+x._id+'">');
            thread += ('<div class="form-row mb-3"><textarea class="form-control col-12" rows="5" type="text" placeholder="Quick reply..." name="text" required=""></textarea></div>');
            thread += ('<div class="form-row mb-3"><label>Password To Delete Reply: </label><input class="form-control col-12 col-md-4" type="password" placeholder="password to delete" name="delete_password" required></div>');
            thread += ('<div class="form-row mb-5"><button class="btn btn-success" type="submit">Submit</button>')
            thread += ('</div></form></div></div></div>')
            $('#board-display').append(thread)
          })
          
        }
        
        $.ajax({
          url: "/api/threads/"+currentBoard,
          success: function(data)
          {
            displayThreads(data)
          }
        });
        
        $('#new-thread').submit(function(e){
          $.ajax({
            url: "/api/threads/" + currentBoard,
            type: 'POST',
            data: $(this).serialize(),
            success: function(data){
              location.reload();
            }
          })
          e.preventDefault();
        });
        
        $('#board-display').on('submit', '#new-reply', function(e){
          $.ajax({
            url: "/api/replies/" + currentBoard,
            type: 'POST',
            data: $(this).serialize(),
            success: function(data){
              location.reload();
            }
          })
          e.preventDefault();
        });
        
        
        $('#board-display').on('submit','#report-thread', function(e) {
          $.ajax({
            type: "PUT",
            url: "/api/threads/"+currentBoard,
            data: $(this).serialize(),
            success: function(data){
              alert(data)
            }
          });
          e.preventDefault();
        });
       
        $('#board-display').on('submit','.report-reply', function(e) {
          $.ajax({
            type: "PUT",
            url: "/api/replies/"+currentBoard,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        
        $('#board-display').on('submit','#delete-thread', function(e) {
          $.ajax({
            type: "DELETE",
            url: "/api/threads/"+currentBoard,
            data: $(this).serialize(),
            success: function(data) {
              alert(data) 
              location.reload()
            }
          });
          e.preventDefault();
        });        
        
        $('#board-display').on('submit','.delete-reply', function(e) {
          $.ajax({
            type: "DELETE",
            url: "/api/replies/"+currentBoard,
            data: $(this).serialize(),
            success: function(data) {
              alert(data) 
              location.reload();
            }
          });
          e.preventDefault();
        });              
      });
   </script>
  </body>
</html>
