<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Anonymous Messenging Board</title>
    <meta name="description" content="Anonymous messenging board made with node.js and mongo db">
    <meta name="keywords" content="Anonymous, messenging, board, forums, post, chat">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="text-center">Anonymous Messenging Board</h1>
      <div id="board-links">
        <h2>Select a Board or Create a New One</h2>
      </div>
      
      <h2>New thread</h2>
        <form method="post" id="new-thread">
          <div class="form-row mb-3">
            <label for="new-thread-board">Board: </label>
            <input class="form-control" type="text" placeholder="Board" id="new-thread-board" name="board" required>
          </div>
          <div class="form-row mb-3">
            <label for="new-thread-text">Text: </label>
            <textarea class="form-control" id="new-thread-text" type="text" placeholder="Thread text..." name="text" required></textarea>
          </div>
          <div class="form-row mb-3">
            <label for="new-thread-password">Password To Delete Thread: </label>
            <input id="new-thread-password" class="form-control" type="password" placeholder="password to delete" name="delete_password" required>
          </div>
          <div class="form-row">
            <button class="btn btn-success" type="submit">Submit</button>
          </div>
          
        </form>
    </div>
<!--     <div id='testui'>
      <h2 style="text-align: left">API Tests:</h2> -->

<!--         <hr>
        <h4>Report thread (PUT /api/threads/:board)</h4>
        <form id="reportThread">
          <input type='text' placeholder='board' id='board2' name='board' required=''><br>
          <input type='text' placeholder='id to report' name='thread_id' required=''><br>
          <input type="submit" value="Submit">
        </form>
        <hr>
        <h4>Delete thread (DELETE /api/threads/:board)</h4>
        <form id="deleteThread">
          <input type='text' placeholder='board' id='board3' name='board' required=''><br>
          <input type='text' placeholder='id to delete' name='thread_id' required=''><br>
          <input type='text' placeholder='password' name='delete_password' required=''><br>
          <input type="submit" value="Submit">
        </form>
        <hr>
        
        
        <h4>New reply (POST /api/replies/:board)</h4>
        <form action="/api/threads/test" method="post" id="newReply">
          <input type='text' placeholder='board' id='board4' name='board' required=''><br>
          <input type='text' placeholder='thread id' name='thread_id' required=''><br>
          <textarea type='text' placeholder='Thread text...' name='text' required=''></textarea><br>
          <input type='text' placeholder='password to delete' name='delete_password' required=''><br>
          <input type="submit" value="Submit">
        </form>
        <hr>
        <h4>Report reply (PUT /api/replies/:board)</h4>
        <form id="reportReply">
          <input type='text' placeholder='board' id='board5' name='board' required=''><br>
          <input type='text' placeholder='thread id' name='thread_id' required=''><br>
          <input type='text' placeholder='id to report' name='reply_id' required=''><br>
          <input type="submit" value="Submit">
        </form>
        <hr>
        <h4>Delete reply (DELETE /api/replies/:board)</h4>
        <form id="deleteReply">
          <input type='text' placeholder='board' id='board6' name='board' required=''><br>
          <input type='text' placeholder='thread id' name='thread_id' required=''><br>
          <input type='text' placeholder='id to delete' name='reply_id' required=''><br>
          <input type='text' placeholder='password' name='delete_password' required=''><br>
          <input type="submit" value="Submit">
        </form>         -->
<!--     </div> -->
    <script>
      $(function() {
        $.ajax({
          url: '/api/threads',
          success: function(data){
            data.forEach(x => {
              $('#board-links').append('<p><a class="board-link" href="/b/' + x.name + '/">' + x.name + '</a></p>')
            })
          }
        })
        $('#new-thread').submit(function(){
          var board = $('#new-thread-board').val();
          $(this).attr('action', "/api/threads/" + board);
        });
        $('#newReply').submit(function(){
          var board = $('#board4').val();
          $(this).attr('action', "/api/replies/" + board);
        });
        $('#reportThread').submit(function(e){
          var url = "/api/threads/"+$('#board2').val();
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
        $('#deleteThread').submit(function(e){
          var url = "/api/threads/"+$('#board3').val();
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
        $('#reportReply').submit(function(e){
          var url = "/api/replies/"+$('#board5').val();
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
        $('#deleteReply').submit(function(e){
          var url = "/api/replies/"+$('#board6').val();
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
      });
   </script>
  </body>
</html>
