<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Anonymous Messenging Board</title>
    <meta name="description" content="Anonymous messenging board made with node.js and mongo db">
    <meta name="keywords" content="Anonymous, messenging, board, forums, post, chat">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="public/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="text-center">Anonymous Messenging Board</h1>
      <p id="error-message" class="text-danger d-none"></p>
      <div id="board-links">
        <h2 class="text-center">Select a Board or Create a New One</h2>
      </div>
      
      <h2>New thread</h2>
        <form id="new-thread">
          <div class="form-row mb-3">
            <label for="new-thread-board">Board: </label>
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Board" id="new-thread-board" name="board" required>
              <div class="invalid-feedback"></div>
            </div>
            
          </div>
          <div class="form-row mb-3">
            <label for="new-thread-text">Text: </label>
            <div class="input-group">
              <textarea class="form-control" id="new-thread-text" type="text" placeholder="Thread text..." name="text" required></textarea>
              <div class="invalid-feedback"></div>
            </div>
          </div>
          <div class="form-row mb-3">
            <label for="new-thread-password">Password To Delete Thread: </label>
            <div class="input-group">
              <input id="new-thread-password" class="form-control" type="password" placeholder="password to delete" name="delete_password" required>
              <div class="invalid-feedback"></div>
            </div>
          </div>
          <div class="form-row mb-3">
            <button class="btn btn-success" type="submit">Submit</button>
          </div>
        </form>
    </div>
    
    <script>
      $(function() {
        $('input, textarea').on('input', function(){
          if($(this).val() == ''){
            $(this).addClass('is-invalid').removeClass('is-valid')
            $(this).siblings('.invalid-feedback').text('Input must not be blank')
          }else{
            $(this).addClass('is-valid').removeClass('is-invalid')
            $(this).siblings('.invalid-feedback').text('')
          }
        })
        $.ajax({
          url: '/api/threads',
          success: function(data){
            data.forEach(x => {
              $('#board-links').append('<p><a class="board-link" href="/b/' + x.name + '/">' + x.name + '</a></p>')
            })
          }, error: function(request, status, error){
            $('#board-links').html('<p class="text-danger">The list of boards could not be generated at this time.</p>')
          }
        })
        $('#new-thread').submit(function(e){
          if($('input, textarea').toArray().every(x => {
            return x.classList.contains('form-control')
          })){
            var board = $('#new-thread-board').val();
            $.ajax({
              url: '/api/threads/' + board,
              type: 'POST',
              data: $('#new-thread').serialize(),
              success: function(data){
                window.location.href = '/b/' + board + '/'
              },
              error: function(request, status, error){
                alert(request.responseText)
              }
            })
          }else{
            $('#error-message').text('Form fields must not be left blank')
            $('#error-message').removeClass('d-none')
          }
          e.preventDefault()
        });
      });
   </script>
  </body>
</html>
