<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="Anonymous messenging board made with node.js and mongo db">
    <meta name="keywords" content="Anonymous, messenging, board, forums, post, chat">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    
    <div class = "container-fluid">
      <h1 id="threadTitle" class="text-center"></h1>
      <p class="text-center"><a href="https://foremost-catboat.glitch.me/">Return Home</a></p>
      <p class="text-center"><a id = "return-to-board" href=""></a></p>
      <div id="board-display">
        <div class="thread px-2 px-md-5">
          <div class="main">
            <form id="report-thread">
              <div class="form-row mb-2">
                <input type="hidden" id="report_id" name="report_id">
                <h2 id="thread-heading" class=""></h2>
                <button type="submit" class="btn btn-link">Report Thread</button>
              </div>
            </form>
            <p id="thread-information"></p>
            <form id="delete-thread">
              <div class="form-row mb-2">
                <input id="delete_id" type="hidden" name="thread_id" required>
                <input class="form-control col-12 col-md-6 col-lg-3" type="password" placeholder="password" name="delete_password" required>
              </div>
              <div class="form-row mb-5">
                <button type="submit" class="btn btn-outline-danger">Delete Thread</button>
              </div>
            </form>
          </div>
          <div class="replies">
            <div id="ajax-replies"></div>
            <div class="newReply mt-5">
              <h2>Create a New Reply</h2>
              <form method="post" id="newReply">
                <input id="post_id" type="hidden" name="thread_id">
                <div class="form-row mb-3">
                  <textarea class="form-control col-12" rows="5" type="text" placeholder="Quick reply..." name="text" required></textarea>
                </div>
                <div class="form-row mb-3">
                  <input class="form-control" type="password" placeholder="password to delete" name="delete_password" required>
                </div>
                <div class="form-row mb-3">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <script>
      $(function() {
        var currentURL = window.location.pathname.slice(3);
        currentURL = currentURL.split('/');
    
        $('#threadTitle').text(window.location.pathname.toLowerCase());
        $('title').text(window.location.pathname.toLowerCase())
        $('#return-to-board').attr('href', '/b/' + currentURL[0] + '/').text('Return to /b/' + currentURL[0] + '/')
        
        $('#report-thread-anchor').click(function(e){
          e.preventDefault()
          $('#report-thread').submit()
        })
        
        $.ajax({
          type: "GET",
          url: "/api/replies/"+currentURL[0] + '?thread_id=' + currentURL[1],
          success: function(data)
          {
            $('#thread-information').text('id: ' + data._id + ' (' + data.created_on.replace(/T.+Z/, '') + ')')
            $('#thread-heading').text(data.text)
            $('input[type="hidden"]').val(data._id)
            data.replies.forEach((x, i) => {
              let reply = '<div id="reply-' + i + '">';
              reply += '<p class="reply-id"></p>'
              reply += '<form class="report-reply">'
              reply += '<div class="form-row mb-2">'
              reply += '<input type="hidden" name="thread_id"><input type="hidden" name="reply_id">';
              reply += '<h3 class="reply-text"></h3>'
              reply += '<button type="submit" class="btn btn-link col-6 col-sm-3 col-md-2">Report Reply</button></div></form>';
              reply += '<form class="delete-reply">';
              reply += '<input type="hidden" name="thread_id"><div class="form-row mb-5"><input type="hidden" name="reply_id"><input class="form-control col-12 col-md-6 col-lg-3" type="password" placeholder="password" name="delete_password" required>'
              reply += '<button type="submit" class="btn btn-outline-danger col-6 col-md-3 col-lg-2 ml-lg-1">Delete Reply</button></div></form>'
              $('#ajax-replies').append(reply)
              $('#reply-' + i).find('.reply-id').text('id: ' + x._id + ' (' + x.created_on.replace(/T.+Z$/, '') + ')')
              $('#reply-' + i).find('.reply-text').text('- ' + x.text)
              $('#reply-' + i).find('input[name="thread_id"]').val(data._id)
              $('#reply-' + i).find('input[name="reply_id"]').val(x._id)
            })
          },
          error: function(request, status, error){
            sessionStorage.setItem('thread-error', 'Thread with id: ' + currentURL[1] + ' does not exist')
            window.location.href = '/b/' + currentURL[0] + '/'
          }
        });
        
        $('#newThread').submit(function(){
          $(this).attr('action', "/api/threads/" + currentBoard);
        });
        
        
        $('#board-display').on('submit','#report-thread', function(e) {
          $.ajax({
            type: "PUT",
            url: "/api/threads/"+currentURL[0],
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        $('#board-display').on('submit','.report-reply', function(e) {
          var url = "/api/replies/"+currentURL[0];
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        $('#board-display').on('submit','#delete-thread', function(e) {
          var url = "/api/threads/"+currentURL[0];
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });        
        $('#board-display').on('submit','#delete-reply', function(e) {
          var url = "/api/replies/"+currentURL[0];
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });              
      });
   </script>
  </body>
</html>
