h1{
  font-size: 5vw;
}

h2{
  font-size: 3vw;
}

h3{
  font-size: 2vw;
}

.board-link{
  font-size: 2vw;
}

.thread-title{
  text-decoration: underline;
}

@media (max-width: 768px){
  h1{
  font-size: 9vw;
  }

  h2{
    font-size: 7vw;
  }

  h3{
    font-size: 7vw;
  }

  .board-link{
    font-size: 6vw;
  }
}